In [1]:
a = "pwskills"

In [2]:
a

'pwskills'

In [3]:
l = [9, 25, 'qwerty', 'z', 'pwskills', 3+7j, 39.33]

In [4]:
l

[9, 25, 'qwerty', 'z', 'pwskills', (3+7j), 39.33]

In [5]:
d = 49.99

In [6]:
d

49.99

In [7]:
t = (35, 'a', 67.89, 'assq1',9+34j)

In [8]:
t

(35, 'a', 67.89, 'assq1', (9+34j))

In [9]:
t[1]

'a'

In [10]:
t[1] = 5.5

TypeError: 'tuple' object does not support item assignment

In [ ]:
#var1 = ‘ ‘ Ans: Data type is String

In [ ]:
var = ' '

In [11]:
type(var)

NameError: name 'var' is not defined

In [ ]:
#var2 = ‘[ DS , ML , Python]’ Ans: Data type is String

In [ ]:
#var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] Ans: Data type is List

In [ ]:
var3 = ['DS','ML','Python']

In [ ]:
type(var3)

In [ ]:
#var4 = 1. Ans: Data Type is Float

In [ ]:
var4 = 1.

In [ ]:
type(var4)

In [ ]:
""" / is used for mathematical division operation
% is used as modulus - remainder operation in maths calculation
// is for division floor function where division results is rounded to the nearest whole number
** is for exponancial / power operation """

In [ ]:
l = [5, 23, 'skills', 35.78, 99, 9+5j, 139, 0, 22, 100]

In [ ]:
for i in l:
    print("The element in the list is", i)
    print("Type of element is",type(i))

In [12]:
a = int(input("Enter your first number:"))
b = int(input("Enter your second number:"))
while a%b ==0:
    print("The first number",a,"is divisible by the second number",b)
else :
    print("The first number",a,"is not divisible by the second number",b)

Enter your first number: 49
Enter your second number: 4

The first number 49 is not divisible by the second number 4

In [13]:
#need help: when the condition is true, it goes in endless loop. How do I sort this out?

In [14]:
# I also didn't get this part of question of how many times the number can be divisible. Can you please explain?

In [2]:
l = [3, 5, 9, 21, 7, 15, 68, 99, 11, 45, 33, 22, 65, 49, 30]
for i in l :
    if l[i] % 3 == 0:
        print("element",l[i],"is divisible by 3")
    else :
        print("element",l[i],"is not divisible by 3")
    i += 1

element 21 is divisible by 3
element 15 is divisible by 3
element 45 is divisible by 3

IndexError: list index out of range

In [3]:
#mutable data type is the one where you can change/replace the elements from the given list of elements. eg. list[]

In [4]:
#immutable data type is the one where tou can not change/replace the elements/items of the given list. eg. string, tuple()