In [76]:
import pandas as pd
import numpy as np
import seaborn as sns

In [77]:
df = pd.read_csv("https://raw.githubusercontent.com/sunnysavita10/Statistics-With-Python-TheCompleteGuide/main/googleplaystore.csv")
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [6]:
df_copy = df.copy()

In [7]:
df_copy

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [8]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [8]:
df_copy.Reviews.dtype

dtype('O')

In [35]:
# converting "Size" column from Object to float 
df_copy["Size"].info

<bound method Series.info of 0        19000.0
1        14000.0
2         8700.0
3        25000.0
4         2800.0
          ...
10836    53000.0
10837     3600.0
10838     9500.0
10839        NaN
10840    19000.0
Name: Size, Length: 10841, dtype: float64>

In [18]:
df_copy["Size"].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '1,000+',
       '470k', '226k', '240k', '89k', '234k', '257k', '861k', '467k',
       '157k', '44k', '676k', '67k', '552k', '885k', '1020k', '582k',
       '619k'], dtype=object)

In [9]:
df_copy["Size"] = df_copy["Size"].str.replace("M", "000").str.replace("k","").str.replace("Varies with device",str(np.nan))

In [10]:
df_copy["Size"].unique()

array(['19000', '14000', '8.7000', '25000', '2.8000', '5.6000', '29000',
       '33000', '3.1000', '28000', '12000', '20000', '21000', '37000',
       '2.7000', '5.5000', '17000', '39000', '31000', '4.2000', '7.0000',
       '23000', '6.0000', '6.1000', '4.6000', '9.2000', '5.2000', '11000',
       '24000', 'nan', '9.4000', '15000', '10000', '1.2000', '26000',
       '8.0000', '7.9000', '56000', '57000', '35000', '54000', '201',
       '3.6000', '5.7000', '8.6000', '2.4000', '27000', '2.5000', '16000',
       '3.4000', '8.9000', '3.9000', '2.9000', '38000', '32000', '5.4000',
       '18000', '1.1000', '2.2000', '4.5000', '9.8000', '52000', '9.0000',
       '6.7000', '30000', '2.6000', '7.1000', '3.7000', '22000', '7.4000',
       '6.4000', '3.2000', '8.2000', '9.9000', '4.9000', '9.5000',
       '5.0000', '5.9000', '13000', '73000', '6.8000', '3.5000', '4.0000',
       '2.3000', '7.2000', '2.1000', '42000', '7.3000', '9.1000', '55000',
       '23', '6.5000', '1.5000', '7.5000', '51000', '41000', '48000',
       '8.5000', '46000', '8.3000', '4.3000', '4.7000', '3.3000', '40000',
       '7.8000', '8.8000', '6.6000', '5.1000', '61000', '66000', '79',
       '8.4000', '118', '44000', '695', '1.6000', '6.2000', '18', '53000',
       '1.4000', '3.0000', '5.8000', '3.8000', '9.6000', '45000', '63000',
       '49000', '77000', '4.4000', '4.8000', '70000', '6.9000', '9.3000',
       '10.0000', '8.1000', '36000', '84000', '97000', '2.0000', '1.9000',
       '1.8000', '5.3000', '47000', '556', '526', '76000', '7.6000',
       '59000', '9.7000', '78000', '72000', '43000', '7.7000', '6.3000',
       '334', '34000', '93000', '65000', '79000', '100000', '58000',
       '50000', '68000', '64000', '67000', '60000', '94000', '232',
       '99000', '624', '95000', '8.5', '41', '292', '11', '80000',
       '1.7000', '74000', '62000', '69000', '75000', '98000', '85000',
       '82000', '96000', '87000', '71000', '86000', '91000', '81000',
       '92000', '83000', '88000', '704', '862', '899', '378', '266',
       '375', '1.3000', '975', '980', '4.1000', '89000', '696', '544',
       '525', '920', '779', '853', '720', '713', '772', '318', '58',
       '241', '196', '857', '51', '953', '865', '251', '930', '540',
       '313', '746', '203', '26', '314', '239', '371', '220', '730',
       '756', '91', '293', '17', '74', '14', '317', '78', '924', '902',
       '818', '81', '939', '169', '45', '475', '965', '90000', '545',
       '61', '283', '655', '714', '93', '872', '121', '322', '1.0000',
       '976', '172', '238', '549', '206', '954', '444', '717', '210',
       '609', '308', '705', '306', '904', '473', '175', '350', '383',
       '454', '421', '70', '812', '442', '842', '417', '412', '459',
       '478', '335', '782', '721', '430', '429', '192', '200', '460',
       '728', '496', '816', '414', '506', '887', '613', '243', '569',
       '778', '683', '592', '319', '186', '840', '647', '191', '373',
       '437', '598', '716', '585', '982', '222', '219', '55', '948',
       '323', '691', '511', '951', '963', '25', '554', '351', '27', '82',
       '208', '913', '514', '551', '29', '103', '898', '743', '116',
       '153', '209', '353', '499', '173', '597', '809', '122', '411',
       '400', '801', '787', '237', '50', '643', '986', '97', '516', '837',
       '780', '961', '269', '20', '498', '600', '749', '642', '881', '72',
       '656', '601', '221', '228', '108', '940', '176', '33', '663', '34',
       '942', '259', '164', '458', '245', '629', '28', '288', '775',
       '785', '636', '916', '994', '309', '485', '914', '903', '608',
       '500', '54', '562', '847', '957', '688', '811', '270', '48', '329',
       '523', '921', '874', '981', '784', '280', '24', '518', '754',
       '892', '154', '860', '364', '387', '626', '161', '879', '39',
       '970', '170', '141', '160', '144', '143', '190', '376', '193',
       '246', '73', '658', '992', '253', '420', '404', '1,000+', '470',
       '226', '240', '89', '234', '257', '861', '467', '157', '44', '676',
       '67', '552', '885', '1020', '582', '619'], dtype=object)

In [11]:
char_to_remove = ["+", "-", ",", "$"]
cols_to_clean = ["Size", "Installs", "Price"]

In [12]:
for char in char_to_remove:
    for col in cols_to_clean:
        df_copy[col] = df_copy[col].str.replace(char, "")

/tmp/ipykernel_88/2681518157.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy[col] = df_copy[col].str.replace(char, "")

In [13]:
df_copy["Size"].unique()

array(['19000', '14000', '8.7000', '25000', '2.8000', '5.6000', '29000',
       '33000', '3.1000', '28000', '12000', '20000', '21000', '37000',
       '2.7000', '5.5000', '17000', '39000', '31000', '4.2000', '7.0000',
       '23000', '6.0000', '6.1000', '4.6000', '9.2000', '5.2000', '11000',
       '24000', 'nan', '9.4000', '15000', '10000', '1.2000', '26000',
       '8.0000', '7.9000', '56000', '57000', '35000', '54000', '201',
       '3.6000', '5.7000', '8.6000', '2.4000', '27000', '2.5000', '16000',
       '3.4000', '8.9000', '3.9000', '2.9000', '38000', '32000', '5.4000',
       '18000', '1.1000', '2.2000', '4.5000', '9.8000', '52000', '9.0000',
       '6.7000', '30000', '2.6000', '7.1000', '3.7000', '22000', '7.4000',
       '6.4000', '3.2000', '8.2000', '9.9000', '4.9000', '9.5000',
       '5.0000', '5.9000', '13000', '73000', '6.8000', '3.5000', '4.0000',
       '2.3000', '7.2000', '2.1000', '42000', '7.3000', '9.1000', '55000',
       '23', '6.5000', '1.5000', '7.5000', '51000', '41000', '48000',
       '8.5000', '46000', '8.3000', '4.3000', '4.7000', '3.3000', '40000',
       '7.8000', '8.8000', '6.6000', '5.1000', '61000', '66000', '79',
       '8.4000', '118', '44000', '695', '1.6000', '6.2000', '18', '53000',
       '1.4000', '3.0000', '5.8000', '3.8000', '9.6000', '45000', '63000',
       '49000', '77000', '4.4000', '4.8000', '70000', '6.9000', '9.3000',
       '10.0000', '8.1000', '36000', '84000', '97000', '2.0000', '1.9000',
       '1.8000', '5.3000', '47000', '556', '526', '76000', '7.6000',
       '59000', '9.7000', '78000', '72000', '43000', '7.7000', '6.3000',
       '334', '34000', '93000', '65000', '79000', '100000', '58000',
       '50000', '68000', '64000', '67000', '60000', '94000', '232',
       '99000', '624', '95000', '8.5', '41', '292', '11', '80000',
       '1.7000', '74000', '62000', '69000', '75000', '98000', '85000',
       '82000', '96000', '87000', '71000', '86000', '91000', '81000',
       '92000', '83000', '88000', '704', '862', '899', '378', '266',
       '375', '1.3000', '975', '980', '4.1000', '89000', '696', '544',
       '525', '920', '779', '853', '720', '713', '772', '318', '58',
       '241', '196', '857', '51', '953', '865', '251', '930', '540',
       '313', '746', '203', '26', '314', '239', '371', '220', '730',
       '756', '91', '293', '17', '74', '14', '317', '78', '924', '902',
       '818', '81', '939', '169', '45', '475', '965', '90000', '545',
       '61', '283', '655', '714', '93', '872', '121', '322', '1.0000',
       '976', '172', '238', '549', '206', '954', '444', '717', '210',
       '609', '308', '705', '306', '904', '473', '175', '350', '383',
       '454', '421', '70', '812', '442', '842', '417', '412', '459',
       '478', '335', '782', '721', '430', '429', '192', '200', '460',
       '728', '496', '816', '414', '506', '887', '613', '243', '569',
       '778', '683', '592', '319', '186', '840', '647', '191', '373',
       '437', '598', '716', '585', '982', '222', '219', '55', '948',
       '323', '691', '511', '951', '963', '25', '554', '351', '27', '82',
       '208', '913', '514', '551', '29', '103', '898', '743', '116',
       '153', '209', '353', '499', '173', '597', '809', '122', '411',
       '400', '801', '787', '237', '50', '643', '986', '97', '516', '837',
       '780', '961', '269', '20', '498', '600', '749', '642', '881', '72',
       '656', '601', '221', '228', '108', '940', '176', '33', '663', '34',
       '942', '259', '164', '458', '245', '629', '28', '288', '775',
       '785', '636', '916', '994', '309', '485', '914', '903', '608',
       '500', '54', '562', '847', '957', '688', '811', '270', '48', '329',
       '523', '921', '874', '981', '784', '280', '24', '518', '754',
       '892', '154', '860', '364', '387', '626', '161', '879', '39',
       '970', '170', '141', '160', '144', '143', '190', '376', '193',
       '246', '73', '658', '992', '253', '420', '404', '1000', '470',
       '226', '240', '89', '234', '257', '861', '467', '157', '44', '676',
       '67', '552', '885', '1020', '582', '619'], dtype=object)

In [14]:
df_copy["Size"] = df_copy["Size"].astype("float")

In [15]:
for i in df_copy["Size"]:
    if i <= 10:
        df_copy["Size"] = df_copy["Size"].replace(i, i*1000)

In [16]:
df_copy["Size"].dtype

dtype('float64')

In [17]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            9146 non-null   float64
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

In [21]:
df_copy["Price"].unique()

array(['0', '4.99', '3.99', '6.99', '1.49', '2.99', '7.99', '5.99',
       '3.49', '1.99', '9.99', '7.49', '0.99', '9.00', '5.49', '10.00',
       '24.99', '11.99', '79.99', '16.99', '14.99', '1.00', '29.99',
       '12.99', '2.49', '10.99', '1.50', '19.99', '15.99', '33.99',
       '74.99', '39.99', '3.95', '4.49', '1.70', '8.99', '2.00', '3.88',
       '25.99', '399.99', '17.99', '400.00', '3.02', '1.76', '4.84',
       '4.77', '1.61', '2.50', '1.59', '6.49', '1.29', '5.00', '13.99',
       '299.99', '379.99', '37.99', '18.99', '389.99', '19.90', '8.49',
       '1.75', '14.00', '4.85', '46.99', '109.99', '154.99', '3.08',
       '2.59', '4.80', '1.96', '19.40', '3.90', '4.59', '15.46', '3.04',
       '4.29', '2.60', '3.28', '4.60', '28.99', '2.95', '2.90', '1.97',
       '200.00', '89.99', '2.56', '30.99', '3.61', '394.99', '1.26',
       'Everyone', '1.20', '1.04'], dtype=object)

In [22]:
df_copy["Price"] = df_copy["Price"].str.replace("Everyone", str(np.nan))

In [24]:
df_copy["Price"].unique()

array(['0', '4.99', '3.99', '6.99', '1.49', '2.99', '7.99', '5.99',
       '3.49', '1.99', '9.99', '7.49', '0.99', '9.00', '5.49', '10.00',
       '24.99', '11.99', '79.99', '16.99', '14.99', '1.00', '29.99',
       '12.99', '2.49', '10.99', '1.50', '19.99', '15.99', '33.99',
       '74.99', '39.99', '3.95', '4.49', '1.70', '8.99', '2.00', '3.88',
       '25.99', '399.99', '17.99', '400.00', '3.02', '1.76', '4.84',
       '4.77', '1.61', '2.50', '1.59', '6.49', '1.29', '5.00', '13.99',
       '299.99', '379.99', '37.99', '18.99', '389.99', '19.90', '8.49',
       '1.75', '14.00', '4.85', '46.99', '109.99', '154.99', '3.08',
       '2.59', '4.80', '1.96', '19.40', '3.90', '4.59', '15.46', '3.04',
       '4.29', '2.60', '3.28', '4.60', '28.99', '2.95', '2.90', '1.97',
       '200.00', '89.99', '2.56', '30.99', '3.61', '394.99', '1.26',
       'nan', '1.20', '1.04'], dtype=object)

In [25]:
df_copy["Price"].dtype

dtype('O')

In [26]:
df_copy["Price"] = df_copy["Price"].astype("float")

In [27]:
df_copy["Price"].dtype

dtype('float64')

In [28]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            9146 non-null   float64
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10840 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(3), object(10)
memory usage: 1.1+ MB

In [29]:
df_copy["Installs"].dtype

dtype('O')

In [30]:
df_copy["Installs"].unique()

array(['10000', '500000', '5000000', '50000000', '100000', '50000',
       '1000000', '10000000', '5000', '100000000', '1000000000', '1000',
       '500000000', '50', '100', '500', '10', '1', '5', '0', 'Free'],
      dtype=object)

In [31]:
df_copy["Installs"] = df_copy["Installs"].str.replace("Free", "0")

In [33]:
df_copy["Installs"].unique()

array(['10000', '500000', '5000000', '50000000', '100000', '50000',
       '1000000', '10000000', '5000', '100000000', '1000000000', '1000',
       '500000000', '50', '100', '500', '10', '1', '5', '0'], dtype=object)

In [34]:
df_copy["Installs"] = df_copy["Installs"].astype('int')

In [35]:
df_copy["Installs"].dtype

dtype('int64')

In [36]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            9146 non-null   float64
 5   Installs        10841 non-null  int64
 6   Type            10840 non-null  object
 7   Price           10840 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(3), int64(1), object(9)
memory usage: 1.1+ MB

In [37]:
df_copy["Reviews"].dtype

dtype('O')

In [38]:
df_copy["Reviews"].unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

In [39]:
df_copy["Reviews"] = df_copy["Reviews"].str.replace("M", "000").str.replace("k","")

In [40]:
df_copy["Reviews"].dtype

dtype('O')

In [41]:
df_copy["Reviews"].unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

In [43]:
df_copy["Reviews"] = df_copy["Reviews"].astype("float")

In [44]:
df_copy["Reviews"].dtype

dtype('float64')

In [53]:
df_copy[df_copy.duplicated("App")]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
229,Quick PDF Scanner + OCR FREE,BUSINESS,4.2,80805.0,NaN,5000000,Free,0.0,Everyone,Business,"February 26, 2018",Varies with device,4.0.3 and up
236,Box,BUSINESS,4.2,159872.0,NaN,10000000,Free,0.0,Everyone,Business,"July 31, 2018",Varies with device,Varies with device
239,Google My Business,BUSINESS,4.4,70991.0,NaN,5000000,Free,0.0,Everyone,Business,"July 24, 2018",2.19.0.204537701,4.4 and up
256,ZOOM Cloud Meetings,BUSINESS,4.4,31614.0,37000.0,10000000,Free,0.0,Everyone,Business,"July 20, 2018",4.1.28165.0716,4.0 and up
261,join.me - Simple Meetings,BUSINESS,4.0,6989.0,NaN,1000000,Free,0.0,Everyone,Business,"July 16, 2018",4.3.0.508,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10715,FarmersOnly Dating,DATING,3.0,1145.0,1400.0,100000,Free,0.0,Mature 17+,Dating,"February 25, 2016",2.2,4.0 and up
10720,Firefox Focus: The privacy browser,COMMUNICATION,4.4,36981.0,4000.0,1000000,Free,0.0,Everyone,Communication,"July 6, 2018",5.2,5.0 and up
10730,FP Notebook,MEDICAL,4.5,410.0,60000.0,50000,Free,0.0,Everyone,Medical,"March 24, 2018",2.1.0.372,4.4 and up
10753,Slickdeals: Coupons & Shopping,SHOPPING,4.5,33599.0,12000.0,1000000,Free,0.0,Everyone,Shopping,"July 30, 2018",3.9,4.4 and up
10768,AAFP,MEDICAL,3.8,63.0,24000.0,10000,Free,0.0,Everyone,Medical,"June 22, 2018",2.3.1,5.0 and up

In [55]:
df_copy = df_copy.drop_duplicates(subset = ["App"], keep = 'first')

In [57]:
df_copy[df_copy["App"].duplicated()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [58]:
df_copy.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [63]:
# seperation of features
numerical_features = [feature for feature in df_copy.columns if df_copy[feature].dtype!="O"]
categorical_features = [feature for feature in df_copy.columns if df_copy[feature].dtype =="O"]

In [64]:
numerical_features

['Rating', 'Reviews', 'Size', 'Installs', 'Price']

In [65]:
categorical_features

['App',
 'Category',
 'Type',
 'Content Rating',
 'Genres',
 'Last Updated',
 'Current Ver',
 'Android Ver']

In [66]:
df_copy["Type"].value_counts()

Free    8902
Paid     756
0          1
Name: Type, dtype: int64

In [67]:
df_copy["Type"].value_counts(normalize = "True")*100

Free    92.162750
Paid     7.826897
0        0.010353
Name: Type, dtype: float64

In [72]:
# for all columns
for col in categorical_features:
    print(df_copy[col].value_counts(normalize = "True")*100)
    print(8*"******")

Photo Editor & Candy Camera & Grid & ScrapBook    0.010352
CK Pharmacies                                     0.010352
CK Call NEW                                       0.010352
Ck Coif                                           0.010352
CONTRACT KILLER: ZOMBIES                          0.010352
                                                    ...
Bike Race Free - Top Motorcycle Racing Games      0.010352
Dance School Stories - Dance Dreams Come True     0.010352
3D Bowling                                        0.010352
Mind Games Pro                                    0.010352
iHoroscope - 2018 Daily Horoscope & Astrology     0.010352
Name: App, Length: 9660, dtype: float64
************************************************
FAMILY                 18.964803
GAME                    9.927536
TOOLS                   8.561077
BUSINESS                4.347826
MEDICAL                 4.089027
PERSONALIZATION         3.892340
PRODUCTIVITY            3.871636
LIFESTYLE               3.819876
FINANCE                 3.571429
SPORTS                  3.364389
COMMUNICATION           3.260870
HEALTH_AND_FITNESS      2.981366
PHOTOGRAPHY             2.908903
NEWS_AND_MAGAZINES      2.629400
SOCIAL                  2.474120
BOOKS_AND_REFERENCE     2.298137
TRAVEL_AND_LOCAL        2.267081
SHOPPING                2.091097
DATING                  1.770186
VIDEO_PLAYERS           1.687371
MAPS_AND_NAVIGATION     1.356108
EDUCATION               1.231884
FOOD_AND_DRINK          1.159420
ENTERTAINMENT           1.055901
AUTO_AND_VEHICLES       0.879917
LIBRARIES_AND_DEMO      0.869565
WEATHER                 0.817805
HOUSE_AND_HOME          0.766046
ART_AND_DESIGN          0.662526
EVENTS                  0.662526
PARENTING               0.621118
COMICS                  0.579710
BEAUTY                  0.548654
1.9                     0.010352
Name: Category, dtype: float64
************************************************
Free    92.162750
Paid     7.826897
0        0.010353
Name: Type, dtype: float64
************************************************
Everyone           81.820064
Teen               10.725748
Mature 17+          4.068744
Everyone 10+        3.333678
Adults only 18+     0.031059
Unrated             0.020706
Name: Content Rating, dtype: float64
************************************************
Tools                              8.550725
Entertainment                      5.807453
Education                          5.279503
Business                           4.347826
Medical                            4.089027
                                     ...
Art & Design;Pretend Play          0.010352
Lifestyle;Pretend Play             0.010352
Comics;Creativity                  0.010352
Art & Design;Action & Adventure    0.010352
Strategy;Creativity                0.010352
Name: Genres, Length: 119, dtype: float64
************************************************
August 3, 2018        2.608696
August 2, 2018        2.380952
August 1, 2018        2.163561
July 31, 2018         2.111801
July 30, 2018         1.656315
                        ...
October 6, 2014       0.010352
September 14, 2015    0.010352
September 6, 2017     0.010352
March 16, 2015        0.010352
March 23, 2014        0.010352
Name: Last Updated, Length: 1378, dtype: float64
************************************************
Varies with device    10.930377
1.0                    8.278077
1.1                    2.693742
1.2                    1.823456
2.0                    1.543722
                        ...
2.27.1                 0.010361
1.6.11                 0.010361
20180517               0.010361
3.1.00                 0.010361
2.0.148.0              0.010361
Name: Current Ver, Length: 2818, dtype: float64
************************************************
4.1 and up            22.802112
4.0.3 and up          14.445480
4.0 and up            13.306410
Varies with device    10.251631
4.4 and up             8.470540
2.3 and up             6.378793
5.0 and up             5.301854
4.2 and up             3.852128
2.3.3 and up           2.826965
2.2 and up             2.474889
3.0 and up             2.392047
4.3 and up             2.288495
2.1 and up             1.377239
1.6 and up             1.201201
6.0 and up             0.559180
7.0 and up             0.434918
3.2 and up             0.372787
2.0 and up             0.331366
5.1 and up             0.227814
1.5 and up             0.207104
4.4W and up            0.113907
3.1 and up             0.103552
2.0.1 and up           0.072486
8.0 and up             0.062131
7.1 and up             0.031066
4.0.3 - 7.1.1          0.020710
5.0 - 8.0              0.020710
1.0 and up             0.020710
7.0 - 7.1.1            0.010355
4.1 - 7.1.1            0.010355
5.0 - 6.0              0.010355
2.2 - 7.1.1            0.010355
5.0 - 7.1.1            0.010355
Name: Android Ver, dtype: float64
************************************************

In [73]:
df_copy["Category"].value_counts()[:10]

FAMILY             1832
GAME                959
TOOLS               827
BUSINESS            420
MEDICAL             395
PERSONALIZATION     376
PRODUCTIVITY        374
LIFESTYLE           369
FINANCE             345
SPORTS              325
Name: Category, dtype: int64

In [80]:
cat = df_copy["Category"].value_counts()[:10].reset_index()

In [81]:
category = pd.DataFrame(cat)

In [82]:
category

             index  Category
0           FAMILY      1832
1             GAME       959
2            TOOLS       827
3         BUSINESS       420
4          MEDICAL       395
5  PERSONALIZATION       376
6     PRODUCTIVITY       374
7        LIFESTYLE       369
8          FINANCE       345
9           SPORTS       325

In [86]:
# to find out which category has highest installation

df_copy.groupby(["Category"])["Installs"].sum().sort_values(ascending = False).reset_index()

               Category     Installs
0                  GAME  13878924415
1         COMMUNICATION  11038276251
2                 TOOLS   8001771915
3          PRODUCTIVITY   5793091369
4                SOCIAL   5487867902
5           PHOTOGRAPHY   4649147655
6                FAMILY   4427941505
7         VIDEO_PLAYERS   3926902720
8      TRAVEL_AND_LOCAL   2894887146
9    NEWS_AND_MAGAZINES   2369217760
10        ENTERTAINMENT   2113660000
11  BOOKS_AND_REFERENCE   1665969576
12      PERSONALIZATION   1532494782
13             SHOPPING   1400348785
14   HEALTH_AND_FITNESS   1144022512
15               SPORTS   1096474498
16             BUSINESS    697164865
17            LIFESTYLE    503823539
18  MAPS_AND_NAVIGATION    503281890
19              FINANCE    455348734
20              WEATHER    361100520
21            EDUCATION    352952000
22       FOOD_AND_DRINK    211798751
23               DATING    140926107
24       ART_AND_DESIGN    114338100
25       HOUSE_AND_HOME     97212461
26    AUTO_AND_VEHICLES     53130211
27   LIBRARIES_AND_DEMO     52995910
28               COMICS     44981150
29              MEDICAL     38193177
30            PARENTING     31521110
31               BEAUTY     27197050
32               EVENTS     15973161
33                  1.9            0

In [89]:
# to group more than two columns

df_copy.groupby(["Category", "Type"])["Installs"].sum().sort_values(ascending = False).reset_index()

              Category  Type     Installs
0                 GAME  Free  13857924450
1        COMMUNICATION  Free  11036916201
2                TOOLS  Free   8000044474
3         PRODUCTIVITY  Free   5791679314
4               SOCIAL  Free   5487861902
..                 ...   ...          ...
59              SOCIAL  Paid         6000
60  NEWS_AND_MAGAZINES  Paid         5500
61  LIBRARIES_AND_DEMO  Paid          100
62              EVENTS  Paid            1
63                 1.9     0            0

[64 rows x 3 columns]

In [91]:
# which categories are free

df_temp = df_copy.groupby(["Category", "Type"])["Installs"].sum().sort_values(ascending = False).reset_index()

In [92]:
df_temp

              Category  Type     Installs
0                 GAME  Free  13857924450
1        COMMUNICATION  Free  11036916201
2                TOOLS  Free   8000044474
3         PRODUCTIVITY  Free   5791679314
4               SOCIAL  Free   5487861902
..                 ...   ...          ...
59              SOCIAL  Paid         6000
60  NEWS_AND_MAGAZINES  Paid         5500
61  LIBRARIES_AND_DEMO  Paid          100
62              EVENTS  Paid            1
63                 1.9     0            0

[64 rows x 3 columns]

In [99]:
df_temp[df_temp.Type == "Free"]

               Category  Type     Installs
0                  GAME  Free  13857924450
1         COMMUNICATION  Free  11036916201
2                 TOOLS  Free   8000044474
3          PRODUCTIVITY  Free   5791679314
4                SOCIAL  Free   5487861902
5           PHOTOGRAPHY  Free   4647268915
6                FAMILY  Free   4407291691
7         VIDEO_PLAYERS  Free   3926831720
8      TRAVEL_AND_LOCAL  Free   2894704086
9    NEWS_AND_MAGAZINES  Free   2369212260
10        ENTERTAINMENT  Free   2113460000
11  BOOKS_AND_REFERENCE  Free   1665946260
12      PERSONALIZATION  Free   1529235988
13             SHOPPING  Free   1400338685
14   HEALTH_AND_FITNESS  Free   1143548402
15               SPORTS  Free   1095230683
16             BUSINESS  Free    696952090
17  MAPS_AND_NAVIGATION  Free    503160790
18            LIFESTYLE  Free    502644429
19              FINANCE  Free    455163132
20              WEATHER  Free    360288520
21            EDUCATION  Free    352350000
22       FOOD_AND_DRINK  Free    211738751
23               DATING  Free    140914757
24       ART_AND_DESIGN  Free    114322100
25       HOUSE_AND_HOME  Free     97212461
26    AUTO_AND_VEHICLES  Free     53080061
27   LIBRARIES_AND_DEMO  Free     52995810
28               COMICS  Free     44981150
29              MEDICAL  Free     37632344
30            PARENTING  Free     31471010
31               BEAUTY  Free     27197050
34               EVENTS  Free     15973160

In [109]:
df_app = df_copy.groupby(["Type", "App", "Category"])["Installs"].sum().sort_values(ascending = False).reset_index()

In [110]:
df_app[df_app.Type == "Free"]

      Type                            App             Category    Installs
0     Free              Google Play Books  BOOKS_AND_REFERENCE  1000000000
1     Free                    Google News   NEWS_AND_MAGAZINES  1000000000
2     Free                       Hangouts        COMMUNICATION  1000000000
3     Free                        Google+               SOCIAL  1000000000
4     Free  Skype - free IM & video calls        COMMUNICATION  1000000000
...    ...                            ...                  ...         ...
9643  Free                       Cathy AH                TOOLS           1
9651  Free         Test Application DT 02       ART_AND_DESIGN           0
9653  Free                  Pekalongan CJ               SOCIAL           0
9654  Free              Sweden Newspapers   NEWS_AND_MAGAZINES           0
9656  Free                     CX Network             BUSINESS           0

[8902 rows x 4 columns]

In [111]:
# which apps are paid 
df_app[df_app.Type == "Paid"]

,Type,App,Category,Installs
957,Paid,Hitman Sniper,GAME,10000000
1333,Paid,Minecraft,FAMILY,10000000
2794,Paid,Bloons TD 5,FAMILY,1000000
2796,Paid,Beautiful Widgets Pro,PERSONALIZATION,1000000
2806,Paid,Card Wars - Adventure Time,FAMILY,1000000
...,...,...,...,...
9649,Paid,Eu sou Rico,FINANCE,0
9650,Paid,Eu Sou Rico,FINANCE,0
9652,Paid,EG | Explore Folegandros,TRAVEL_AND_LOCAL,0
9655,Paid,cronometra-br,PRODUCTIVITY,0
9657,Paid,Popsicle Launcher for Android P 9.0 launcher,PERSONALIZATION,0