In [1]:
# calculation of variance and standard deviation in python

In [2]:
# cov and standard deviation functions are available in numpy so import the same

In [3]:
import numpy as np

In [4]:
ages_list = [12, 67, 5, 34, 88, 23, 96]

In [5]:
mean = np.mean(ages_list)

In [6]:
mean

46.42857142857143

In [21]:
var = np.var(ages_list)
var

1173.387755102041

In [7]:
std_dev = np.std(ages_list)
std_dev

34.25474792057359

In [19]:
# when you have list of items having rows and columns, use pandas to calculated variance and std

In [9]:
# import pandas

In [10]:
import pandas as pd

In [11]:
data = [[10,34, 55, 89], [22,45,100, 78], [12, 65, 94,89]]

In [12]:
# getting a dataframe
df = pd.DataFrame(data)

In [13]:
df

    0   1    2   3
0  10  34   55  89
1  22  45  100  78
2  12  65   94  89

In [17]:
# to assign names for columns
df = pd.DataFrame(data, columns = ["A", "B", "C", "D"])

In [18]:
df

    A   B    C   D
0  10  34   55  89
1  22  45  100  78
2  12  65   94  89

In [23]:
df.var()
# gets answer by default column wise

A     41.333333
B    247.000000
C    597.000000
D     40.333333
dtype: float64

In [24]:
# to get variance rowwise
df.var(axis = 1)

0    1122.000000
1    1195.583333
2    1408.666667
dtype: float64

In [25]:
# by default, axis = 0 and hence get answers columnwise