In [1]:
d1 = {}

type(d1)

In [3]:
d1 = {'name' : ['Krish', 'Sudh', 'Narayan'], 'Course' : {'Coading', 'DS', 'Java'}, 'Universities' :('Mumbai', 'US', 'UK', 'Germany')}

In [4]:
d1

{'name': ['Krish', 'Sudh', 'Narayan'],
 'Course': {'Coading', 'DS', 'Java'},
 'Universities': ('Mumbai', 'US', 'UK', 'Germany')}

In [6]:
d1.keys()

dict_keys(['name', 'Course', 'Universities'])

In [7]:
d1.values()

dict_values([['Krish', 'Sudh', 'Narayan'], {'DS', 'Coading', 'Java'}, ('Mumbai', 'US', 'UK', 'Germany')])

In [8]:
list(d1.values())

[['Krish', 'Sudh', 'Narayan'],
 {'Coading', 'DS', 'Java'},
 ('Mumbai', 'US', 'UK', 'Germany')]

In [9]:
d1.get('Universities')

('Mumbai', 'US', 'UK', 'Germany')

In [12]:
d1.pop('Universities')

('Mumbai', 'US', 'UK', 'Germany')

In [13]:
d1

{'name': ['Krish', 'Sudh', 'Narayan'], 'Course': {'Coading', 'DS', 'Java'}}

In [15]:
d1.popitem()

('Course', {'Coading', 'DS', 'Java'})

In [17]:
d1.fromkeys('name', ['Krish', 'Sudh', 'Narayan'])

{'n': ['Krish', 'Sudh', 'Narayan'],
 'a': ['Krish', 'Sudh', 'Narayan'],
 'm': ['Krish', 'Sudh', 'Narayan'],
 'e': ['Krish', 'Sudh', 'Narayan']}

In [18]:
d1

{'name': ['Krish', 'Sudh', 'Narayan']}

In [1]:
d1 = {'name' : ['Krish', 'Sudh', 'Narayan'], 'Course' : {'Coading', 'DS', 'Java'}, 'Universities' :('Mumbai', 'US', 'UK', 'Germany')}

In [12]:
d2 = {'City': ['Thane', ' Pune']}

In [18]:
# dict d2 gets updated with the keys and values of d2
# d1 remains unchanged
d2.update(d1)

In [14]:
d1

{'name': ['Krish', 'Sudh', 'Narayan'],
 'Course': {'Coading', 'DS', 'Java'},
 'Universities': ('Mumbai', 'US', 'UK', 'Germany')}

In [15]:
d2

{'City': ['Thane', ' Pune'],
 'name': ['Krish', 'Sudh', 'Narayan'],
 'Course': {'Coading', 'DS', 'Java'},
 'Universities': ('Mumbai', 'US', 'UK', 'Germany')}

In [16]:
# dict d1 gets updated with the keys and values of d2
# d2 remains unchanged
d1.update(d2)

In [17]:
d1

{'name': ['Krish', 'Sudh', 'Narayan'],
 'Course': {'Coading', 'DS', 'Java'},
 'Universities': ('Mumbai', 'US', 'UK', 'Germany'),
 'City': ['Thane', ' Pune']}

In [20]:
# dict comprehension
# finding cube of first 10 nos.
d3 = {i : i**3 for i in range(1,11)}

In [21]:
d3

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [22]:
d3.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [23]:
d3.values()

dict_values([1, 8, 27, 64, 125, 216, 343, 512, 729, 1000])

In [24]:
d3.items()

dict_items([(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216), (7, 343), (8, 512), (9, 729), (10, 1000)])

In [32]:
import math
{i : math.sqrt(i) for i in range(1,11)}

{1: 1.0,
 2: 1.4142135623730951,
 3: 1.7320508075688772,
 4: 2.0,
 5: 2.23606797749979,
 6: 2.449489742783178,
 7: 2.6457513110645907,
 8: 2.8284271247461903,
 9: 3.0,
 10: 3.1622776601683795}

In [30]:
d1

{'name': ['Krish', 'Sudh', 'Narayan'],
 'Course': {'Coading', 'DS', 'Java'},
 'Universities': ('Mumbai', 'US', 'UK', 'Germany'),
 'City': ['Thane', ' Pune']}

In [31]:
'City' in d1

True

In [35]:
import math
d5 = {i : math.sqrt(i) for i in range(1,11)}

In [36]:
d5

{1: 1.0,
 2: 1.4142135623730951,
 3: 1.7320508075688772,
 4: 2.0,
 5: 2.23606797749979,
 6: 2.449489742783178,
 7: 2.6457513110645907,
 8: 2.8284271247461903,
 9: 3.0,
 10: 3.1622776601683795}

In [43]:
# fetching only even values in d5 dict
for i in d5.keys():
    if i % 2 ==0:
        print(f'{i} :', d5[i])

2 : 1.4142135623730951
4 : 2.0
6 : 2.449489742783178
8 : 2.8284271247461903
10 : 3.1622776601683795

In [44]:
# fetching only odd values in d5 dict
for i in d5.keys():
    if i % 2 !=0:
        print(f'{i} :', d5[i])

1 : 1.0
3 : 1.7320508075688772
5 : 2.23606797749979
7 : 2.6457513110645907
9 : 3.0